html,body {
	margin:0;
	padding:0;
	height:100%;
}
body {
	background:#F5F5DC;
	font-size:72%;
	color:#444;
}

.tes {
	height: 100%;
	margin-top: 50px;
	border: none;
}

#wrapper {
	background:#F5F5DC;
	height:100%;
    text-align: left;
    margin: 10px 15px; 
}
#left {
	width:550px;
	border-right:1px solid #EEE;
}
#right {
	width:250px;
	vertical-align:top;
	border-left:1px solid #FFF;
}
#header {
	background:#C93;
	color:#FFF;
	padding:10px 15px;
	font-size:1.5em;
	font-variant:small-caps;
}
h1{
margin:0;
font-weight:normal;
font-size:2.4em;
letter-spacing:-2px;
color:#666;
padding:14px 0 7px 0;
}
h1 em{
font-size:.7em;
letter-spacing:-1px;
color:#B8860B;
}
#login,#info{
padding-bottom:10px;
text-align:center;
}
#footer{
clear:both;
padding:10px 20px;
font-size:95%;
color:#555;
text-align: center;
}
p{
margin:7px 0;
}
.error{
color:indianred;
font-weight:bold;
}
#submit{
margin-top:10px;
text-align: center;
}
label{
font-size:95%;
color:#9C7727;
}
input.num{
font-size:1.4em;
padding:2px 3px;
font-weight:bold;
color:#555;
}
a{
color:#B8860B;
}
h3{
font-size:1.5em;
margin:20px 0 5px 0;
color:olivedrab;
}
#info{
padding-right:20px;
}
.col1{
float:left;
width:250px;
}.col2{
float:right;
width:250px;
}
.clr{
clear:both;
}body,input{
font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
}
h1,h3{
font-family:"Century Gothic",Arial,Helvetica,sans-serif;
}
h1,#login,#info,#footer{
padding-left:30px;
}
h1,#info{
border-bottom:1px solid #D9D9C3;
}
#login,#info,#footer{
border-top:1px solid #FFF;
}
ul.contact{
padding-left:24px;
padding-right:10px}
ul.contact li{
margin-bottom:1em;
color:steelblue;
}
ul.contact li strong{
color:#333;
}
ul.contact li em{
font-size:90%;
color:#888;
}

#topmenu, #submenu {
    text-align: right;
}

#topmenu  a, #submenu a {
    margin: 0px 5px;
    text-decoration: none;
}

a#powered, #author a {
	text-decoration: none;
}